{% extends 'base.html' %}
{% block content %}

<h1>Cryptid Details</h1>

<div class="row">
	<div class="col s4">
		<div class="card">
		  <div class="card-content">
		    <span class="card-title">{{ cryptid.name }}</span>
		    <p>Region: {{ cryptid.region }}</p>
		    <p>Description: {{ cryptid.description }}</p>
		    <p>Danger Level: {{ cryptid.danger_level }}</p>
		  </div>
		</div>
	</div>

	<div class="col s8">
		<form action="{% url 'add_sighting' cryptid.id %}" method="post">
			{% csrf_token %}
			{{ sighting_form.as_p}}
			<input type="submit" class="btn" value="Add Sighting">
		</form>

	    <table class="striped">
	      <thead>
	        <tr><th>Date</th><th>Sighting</th><th>Description</th></tr>
	      </thead>
	      <tbody>
	        {% for sighting in cryptid.sighting_set.all %}
	          <tr>
	            <td>{{sighting.date}}</td>
	            <td>{{sighting.location}}</td>
	            <td>{{sighting.description}}</td>
	          </tr>
	        {% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ cryptid.name }}'s Powers</h3>
    {% if cryptid.powers.count %}
      {% for power in cryptid.powers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
             <p>{{power.name}} : {{power.description}} </p>
        </div>
      {% endfor %}
    {% else %}
      <h5> Cryptid With No Powers. What Can It Do</h5>
    {% endif %}
  </div>
  <!-- Available powers will come after this line -->
  <div class="col s6">
    <h3>Can It Do This?</h3>
    {% if powers.count %}
      {% for power in powers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <p>{{power.name}} : {{power.description}} </p>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_power' cryptid.id power.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>It can do everything. Run.</h5>
    {% endif %}
  </div>

</div>

<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}